In [ ]:
# !pip install pytesseract
# !pip install Pillow
# !pip install opencv-python
# !pip install matplotlib

In [29]:
import pytesseract as tess
tess.pytesseract.tesseract_cmd = r'C:\Program Files\Tesseract-OCR\tesseract.exe'
from cv2 import cv2
from PIL import Image
import matplotlib.pyplot as plt
import re
import pandas as pd

In [16]:
###### OCR Part
# load the original image
image = cv2.imread('page_1_cropped.jpg')
img = image

gray2 = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
ret1,thresh1 = cv2.threshold(gray2,120,255,cv2.THRESH_BINARY)
thresh2 = cv2.threshold(gray2, 0, 255, cv2.THRESH_BINARY + cv2.THRESH_OTSU)[1]

bilf = cv2.bilateralFilter(thresh2,9,75,75)

    
# pytesseract image to string to get results
text = str(tess.image_to_string(bilf, lang='sin+eng', config='--psm 6'))
print(text)

| 1]49/ 1 වැල්මිල්ල ආරච්චිගේ දොන උදය ප්‍රියශාන්ත කුමාර 8211731671" පි ]
පනාකඩු ලියනගේ රුපචතනී 555091508V ගැ 2
වැල්මිල්ල ආරච්චිගේ දොන්‌ සුදර්ශනී රූපිකා කුමාරි 808213796V ගැ 3

[1]49/2 මලේ පතිරණගේ නිශාන්ත මොහන වික්‍රමසිංහ 662141682V පි 4
රත්නායක මුදියන්සේලාගේ යමුනා පියසීලි 637963589V ගැ ට්‌
රත්නායක
මලේ පතිරණගේ නිමන්තිකා මධුභාෂිණ වික්‍රමසිංහ 935660904V ගැ 6
මලේ පතිරණගේ විශ්මිකා නිර්මාණි වික්‍රමසිංහ 975800288"%' ගැ 7

In [127]:
# print(repr(text))
result = text.split("\n")
final_list = []
cols =['No', 'Name', 'NIC', 'Gender', 'Seq']

# line_re = re.compile(r'([\[|]\W*\d+[\]|]\d+\/?\d+)\s+(\W+)(\d+[VvXx]?)\s*(\W+)\s*(\d+)',re.UNICODE)
line_re = re.compile(r'([\[|]\W*\d+[\]|]\d+\/?\d+)(.*\s+)(\d+[VvXx]?)\s*(\W+)\s*.*(\d+)',re.UNICODE)
line_re2 = re.compile(r'(.*\s+)(\d+[VvXx]?)\s*(\W+)\s*.*(\d+)',re.UNICODE)


for i in result:
#     print(i)
    my_list = ['','','','','']
    if re.match(line_re, i):
        my_list[0] = re.match(line_re, i).group(1)
        my_list[1] = re.match(line_re, i).group(2)
        my_list[2] = re.match(line_re, i).group(3)
        my_list[3] = re.match(line_re, i).group(4)
        my_list[4] = re.match(line_re, i).group(5)
        final_list += [my_list]
    elif re.match(line_re2, i):
        my_list[0] = ''
        my_list[1] = re.match(line_re2, i).group(1)
        my_list[2] = re.match(line_re2, i).group(2)
        my_list[3] = re.match(line_re2, i).group(3)
        my_list[4] = re.match(line_re2, i).group(4)
        final_list += [my_list]
    else:
        my_list[1] = i
        final_list += [my_list]
df = pd.DataFrame(final_list, columns = cols)
df

,No,Name,NIC,Gender,Seq
0,| 1]49,/,1,,1
1,,පනාකඩු ලියනගේ රුපචතනී,555091508V,,2
2,,වැල්මිල්ල ආරච්චිගේ දොන්‌ සුදර්ශනී රූපිකා කුමාරි,808213796V,,3
3,,,,,
4,[1]49/2,මලේ පතිරණගේ නිශාන්ත මොහන වික්‍රමසිංහ,662141682V,,4
5,,රත්නායක මුදියන්සේලාගේ යමුනා පියසීලි 637963589V...,,,
6,,රත්නායක,,,
7,,මලේ පතිරණගේ නිමන්තිකා මධුභාෂිණ වික්‍රමසිංහ,935660904V,,6
8,,මලේ පතිරණගේ විශ්මිකා නිර්මාණි වික්‍රමසිංහ,975800288,"""%'",7
9,,,,,

In [119]:
_re1 = re.compile(r'([\[|]\W*\d+[\]|]\d+\/?\d+)(.*\s+)(\d+[VvXx]?)\s*(\W+)\s*.*(\d+)',re.UNICODE)
tx = '[1]49/2 මලේ පතිරණගේ නිශාන්ත මොහන වික්‍රමසිංහ 662141682V පි 4'
final_l = []

if re.match(_re1, tx):
    my_list = ['','','','','']
    my_list[0] = re.match(_re1, tx).group(1)
    my_list[1] = re.match(_re1, tx).group(2)
    my_list[2] = re.match(_re1, tx).group(3)
    my_list[3] = re.match(_re1, tx).group(4)
    my_list[4] = re.match(_re1, tx).group(5)
    final_l += [my_list]

cols =['No', 'Name', 'NIC', 'Gender', 'Seq']
df = pd.DataFrame(final_l, columns = cols)
df

        No                                    Name         NIC Gender Seq
0  [1]49/2   මලේ පතිරණගේ නිශාන්ත මොහන වික්‍රමසිංහ   662141682V          4

In [118]:
my_list = [['| 1]49/ 1 වැල්මිල්ල ආරච්චිගේ දොන උදය ප්රියශාන්ත කුමාර 8211731671V පි','','','','']]
cols =['No', 'Name', 'NIC', 'Gender', 'Seq']
df = pd.DataFrame(my_list, columns = cols)
df

        No                                    Name         NIC Gender Seq
0  [1]49/2   මලේ පතිරණගේ නිශාන්ත මොහන වික්‍රමසිංහ   662141682V          4

In [ ]:
my_list = [['11', 'වැල්මිල්ල ආරච්චිගේ දොන උදය කුමාර', '8211731671V', 'පි', '1']]
cols =['No', 'Name', 'NIC', 'Gender', 'Seq']
df = pd.DataFrame(my_list, columns = cols)
df

In [64]:
print(final_list)
# cols =['No', 'Name', 'NIC', 'Gender']
cols =['No']
df = pd.DataFrame(final_list, columns = cols)
df

['| 1]49/ 1 වැල්මිල්ල ආරච්චිගේ දොන උදය ප්\u200dරියශාන්ත කුමාර 8211731671" පි ]', 'පනාකඩු ලියනගේ රුපචතනී 555091508V ගැ 2', 'වැල්මිල්ල ආරච්චිගේ දොන්\u200c සුදර්ශනී රූපිකා කුමාරි 808213796V ගැ 3', '', '[1]49/2 මලේ පතිරණගේ නිශාන්ත මොහන වික්\u200dරමසිංහ 662141682V පි 4', 'රත්නායක මුදියන්සේලාගේ යමුනා පියසීලි 637963589V ගැ ට්\u200c', 'රත්නායක', 'මලේ පතිරණගේ නිමන්තිකා මධුභාෂිණ වික්\u200dරමසිංහ 935660904V ගැ 6', 'මලේ පතිරණගේ විශ්මිකා නිර්මාණි වික්\u200dරමසිංහ 975800288"%\' ගැ 7', '']

                                                  No
0  | 1]49/ 1 වැල්මිල්ල ආරච්චිගේ දොන උදය ප්‍රියශාන...
1              පනාකඩු ලියනගේ රුපචතනී 555091508V ගැ 2
2  වැල්මිල්ල ආරච්චිගේ දොන්‌ සුදර්ශනී රූපිකා කුමාර...
3
4  [1]49/2 මලේ පතිරණගේ නිශාන්ත මොහන වික්‍රමසිංහ 6...
5  රත්නායක මුදියන්සේලාගේ යමුනා පියසීලි 637963589V...
6                                            රත්නායක
7  මලේ පතිරණගේ නිමන්තිකා මධුභාෂිණ වික්‍රමසිංහ 935...
8  මලේ පතිරණගේ විශ්මිකා නිර්මාණි වික්‍රමසිංහ 9758...
9

In [46]:
# all_txt = re.findall(r'([\[|]\W*\d+[\]|]\d+\/?\d+)?(.*\s+)(\d+[VvXx]?)\s*(\W+)\s*.*(\d+)', text)

# for i in all_txt:
#     print(i)

In [47]:
# df = pd.DataFrame(result)

# df.to_excel('tester2.xlsx', header=True, index=False, encoding='utf-8')